<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>
  <body>
    <style>
      .job-preview {
        max-width: 95%;
        background-color: white;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
        margin: 20px auto;
        border-radius: 5px;
      }

      h5,
      h3,
      p,
      h2 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .subject p {
        font-size: 12px;
      }
      .content div {
        margin: 8px 0;
      }

      .content label {
        /* width: 200px; */
        font-weight: 500;
        margin-left: 20px;
      }
      .job-preview-parent {
        background-image: url(../../assets/image/text-bg.png);
        background-size: cover;
        height: fit-content;

        padding: 20px 0;
        max-width: 900px !important;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.303);
        margin: auto !important;
      }
    </style>

    <div class="job-preview-parent" style="margin: 20px 0; max-width: 100%">
      <div class="job-preview-logo" style="width: 50%; margin-left: 390px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="150px" />
      </div>
      <h4 style="text-align: center">"New Mail For You"</h4>
      <p style="text-align: center; font-weight: 500"><%=jobLocation%></p>

      <div
        class="job-preview"
        style="
          max-width: 95%;
          background-color: white;
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
          margin: 20px auto;
          border-radius: 5px;
        "
      >
        <div style="display: flex; background: #e7e9ed; margin-top: 12px">
          <h2 style="margin-left: 20px">Subject :</h2>
          <h2 style="margin-left: 200px"><%=subject%></h2>
        </div>

        <div class="subject" style="padding: 20px">
          <p>
            The sender of this email is registered with Treatjobs.com as <span style="font-weight: 700"><%=recruiterNumber%></span>
          </p>
          <p style="font-size: 14px; margin: 10px 0">Dear <%=name%></p>
          <p style="margin-left: 30px">
            You are receiving this mail because the recruiter considers your profile to be suitable for the following job
            opportunity posted on Treatjobs.com, and would like you
            <span style="font-weight: 700">To Apply for the job.</span>
          </p>
        </div>

        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: auto;
            padding: 10px 0;
            border-top: solid rgba(0, 0, 0, 0.193) 2px;
            border-bottom: solid rgba(0, 0, 0, 0.193) 2px;
          "
        >
          <div style="width: 70%; padding: 0 14px">
            <h2><%=jobTittle%></h2>
            <p style="margin: 10px 0; font-size: 16px; font-weight: 700"><%=companyname%></p>

            <table style="width: 80%">
              <tr style="width: 50%; height: 28px; vertical-align: top">
                <td style="font-weight: 700">
                  <img src="file:///C:/Users/Admin/Downloads/figma/src/assets/image/Group%20131.png" />
                  <%=role%>
                </td>
                <td style="font-weight: 700">₹ <%=salaryRangeFrom%> to <%=salaryRangeTo%> lacs</td>
              </tr>

              <tr style="width: 50%; height: 28px; vertical-align: top">
                <td style="font-weight: 700">
                  <img src="file:///C:/Users/Admin/Downloads/figma/src/assets/image/Group%207.png" />

                  <%=jobLocation%>
                </td>
                <td style="font-weight: 700"><%=experienceFrom%>+ Years</td>
              </tr>

              <tr style="width: 50%; height: 28p; vertical-align: top">
                <td style="font-weight: 700">
                  <img src="file:///C:/Users/Admin/Downloads/figma/src/assets/image/Union.png" />

                  Hiring <%=openings%> Candidates
                </td>
                <td style="font-weight: 700">Posted <%=daysAgo%> Day ago</td>
              </tr>
            </table>
          </div>

          <div style="width: 20%">
            <table>
              <tr style="margin-bottom: 50px;">
                <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png" height="70px" />
              </tr>

              <tr style="height: 50px;">
                <a
                  style="
                    background-color: #0a2647;
                    height: fit-content;
                    color: white;
                    padding: 12px 20px;
                    border-radius: 5px;
                    border: none;
                    margin-top: 50px;
                    width: 150px;
                    text-decoration: none;
                  "
                  href="https://job.lotsmart.in/redirect#?mailId=<%=mailId%>"
                >
                  Apply Now
              </a>
              </tr>
            </table>
          </div>

          <div></div>
        </div>

        <div class="content" style="margin-left: 20px; margin-top: 20px">
          <!-- <div style="display: flex;">
        <label>Key Skills :</label>
        <p>Adobe XD, Figma, Illustrator </p>
    </div> -->

          <table style="margin-left: 20px">
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Key Skills :</td>
              <td style="font-weight: 500"><%=keySkill%></td>
            </tr>

            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Qualification :</td>
              <td style="font-weight: 500">UG</td>
            </tr>
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Employment Type :</td>
              <td style="font-weight: 500"><%=employmentType%></td>
            </tr>
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Work Mode :</td>
              <td style="font-weight: 500"><%=workplaceType%></td>
            </tr>
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Department :</td>
              <td style="font-weight: 500"><%=department%></td>
            </tr>

            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Role :</td>
              <td style="font-weight: 500"><%=role%></td>
            </tr>
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Job Description :</td>
              <td style="font-weight: 500">
                <%=jobDescription%>
              </td>
            </tr>

            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Candidate Description :</td>
              <td style="font-weight: 500">
                <%=candidateDescription%>
              </td>
            </tr>

            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Perks & Benefits :</td>
              <td style="font-weight: 500">
                <%=salaryDescription%>
              </td>
            </tr>

            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Industry :</td>
              <td style="font-weight: 500"><%=industry%></td>
            </tr>
            <tr style="padding: 10px 0; height: 28px; vertical-align: top">
              <td style="font-weight: 700; width: 200px">Preferred Industry :</td>
              <td style="font-weight: 500"><%=preferedIndustry%></td>
            </tr>
          </table>
        </div>

        <div
          style="
            border-top: solid rgba(0, 0, 0, 0.193) 2px;
            border-bottom: solid rgba(0, 0, 0, 0.193) 2px;
            margin: auto;
            margin-top: 20px;
          "
        >
          <div class="head" style="display: flex; padding: 20px 0 0px 40px">
            <div style="width: 70%">
              <h2><%=companyname%></h2>
              <p style="margin-top: 10px"><%=jobLocation%></p>
            </div>
            <div style="width: 30%; display: flex">
              <img src="<%=logo%>" height="50px" />
              <a style="margin-left: 20px;text-decoration: none; font-size: 13px; color: #0a2647" href="<%=urltoApply%>">View Company profile</a>
            </div>
          </div>

          <table style="margin-left: 40px">
            <tr style="height: 28px; vertical-align: top">
              <td style="width: 180px; font-weight: 700">Website :</td>
              <td style="text-decoration: underline; font-weight: 500;padding-left: 20px;"><%=urltoApply%></td>
            </tr>
            <tr style="height: 28px; vertical-align: top">
              <td style="width: 180px; font-weight: 700">About Company :</td>
              <td style="font-weight: 500;padding-left: 20px;">
                <%=aboutCompany%>
              </td>
            </tr>
          </table>
        </div>

        <table style="margin-left: 40px">
          <tr style="height: 38px; vertical-align: top; padding-bottom: 20px">
            <td style="max-width: 180px; font-weight: 700; padding-top: 20px">Recruiter Name :</td>
            <td style="padding-top: 20px; padding-left: 95px; font-weight: 500"><%=recruiterName%></td>
          </tr>
          <tr style="vertical-align: top; height: 28px">
            <td style="max-width: 180px; font-weight: 700; padding-top: 5px">Mobile Number :</td>
            <td style="padding-left: 95px; font-weight: 500; padding-top: 5px"><%=recruiterNumber%></td>
          </tr>
          <tr style="height: 28px; vertical-align: top">
            <td style="max-width: 180px; font-weight: 700; padding-bottom: 20px">Email ID :</td>
            <td style="padding-bottom: 20px; padding-left: 95px; font-weight: 500"><%=recruiterEmail%></td>
          </tr>
        </table>

       

        <table
          style="
            padding: 20px 20px 20px 40px;
            border-top: solid rgba(0, 0, 0, 0.193) 2px;
            border-bottom: solid rgba(0, 0, 0, 0.193) 2px;padding-right: 50%;min-width: 100%;
          "
        >
          <tr style="vertical-align: text-top;">
            <td style="max-width: 180px; font-weight: 700">Signature :</td>
            <td style="padding-left: 130px; font-weight: 500">
              <%=signature%>
            </td>
          </tr>
        </table>

        <table>
          <tr style="margin: 20px 40px; display: flex">
            <td style="font-size: 12px; font-weight: 700; min-width: fit-content">Disclaimer :</td>
            <td style="font-size: 12px; margin-left: 10px; font-weight: 500">
              The sender of this email is registered with Treatjobs.com as EMPLOYER NAME ( Employer mail id, Employer
              address) using Treatjobs.com services. The responsibility of checking the authenticity of offers/correspondence
              lies with you.
            </td>
          </tr>
        </table>
      </div>

      <table class="apply-now-button">
        <!-- <button style="background-color: #0A2647;color: white;padding: 6px 20px;border-radius: 5px;border:none;margin-top: 10px;">Apply Now</button> -->
        <tr style="width: 50%">
          <td style="padding-left: 370px">
            <a style="background-color: #0a2647; color: white; padding: 12px 20px;text-decoration: none; border-radius: 5px; border: none" href="https://job.lotsmart.in/redirect#?mailId=<%=mailId%>">
              Apply Now
            </a>
          </td>
        </tr>
      </table>

      <div class="social-links" style="width: 200px; margin: 50px auto; display: flex; justify-content: space-between">
        <img src="../../assets/image/twitter-icon.png" />
        <img src="../../assets/image/fb-icon.png" />
        <img src="../../assets/image/insta-icon.png" />
        <img src="../../assets/image/indeed-icon.png" />
      </div>
    </div>
  </body>
</html>
